@model DeveloperDetailsViewModel

<h2>@Model.Name</h2>

<div>
    <p>
        <strong>@Html.DisplayNameFor(model => model.GameRep):</strong> @Model.GameRep
    </p>
    <p>
        <img src="@Model.LogoLink" alt="Developer Logo" style="max-width: 300px; max-height: 300px;" />
    </p>
</div>

@await Component.InvokeAsync(nameof(GamesShortInfoComponent),Model.PaginatedGames)


<div class="mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PaginatedGames.Page == 1 ? "disabled" : "")">
                <a class="page-link" asp-controller="Developer" asp-action="Details" asp-route-id="@Model.Id" asp-route-page="1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item @(Model.PaginatedGames.Page == 1 ? "disabled" : "")">
                <a class="page-link" asp-controller="Developer" asp-action="Details" asp-route-id="@Model.Id" asp-route-page="@Model.PaginatedGames.Page--" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.PaginatedGames.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PaginatedGames.Page ? "active" : "")">
                    <a class="page-link" asp-controller="Developer" asp-action="Details" asp-route-id="@Model.Id" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.PaginatedGames.Page == Model.PaginatedGames.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-controller="Developer" asp-action="Details" asp-route-id="@Model.Id" asp-route-page="@Model.PaginatedGames.Page++" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item @(Model.PaginatedGames.Page == Model.PaginatedGames.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-controller="Developer" asp-action="Details" asp-route-id="@Model.Id" asp-route-page="@Model.PaginatedGames.TotalPages" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>