@model NewsDetailViewModel

<h2><strong>@Model.Title</strong></h2>

<p><strong>Publish Date:</strong> @Model.PublishDate.ToString("yyyy-MMM-dd")</p>
<p>
    <strong>Associated Game:</strong> <a asp-controller="Games"
                                         asp-action="Details"
                                         asp-route-gameId="@Model.GameId">
        <strong>@Model.GameName</strong>
    </a>
</p>
<p>@Model.Description</p>