@model TopGamesAndDevelopersViewModel

@{
    ViewData["Title"] = "Home Page";
    var games = Model.Games.ToList();
}


@if (!Model.Games.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to GameZenReviews!</h1>
        <p class="lead">
            There are no games added currently. Please keep an eye out in the future!
        </p>
        <hr class="my-4">
    </div>
}

<div class="mb-5"></div>

<div style="text-align: center;">
    <div style="width: 500px; margin: 0 auto; background: #000; color: #fff;">The current top 3 rated games</div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Games.Count(); i++)
        {
            var game = games[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                     src="@game.Picture" alt="@game.Name">
                <div class="carousel-caption d-none d-md-block">
                    <ul>
                        <li>
                            <h5>
                                <a class="btn btn-primary" asp-controller="Games" asp-action="Details"
                                   asp-route-id="@game.Id"> @game.Name</a>
                            </h5>
                        </li>
                        <li>
                            <h6>
                                <button type="button" class="btn btn-success">
                                    Score <span class="badge text-bg-light">@game.TotalScore</span>
                                </button>
                            </h6>
                        </li>
                    </ul>

                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="card" style="width: 18rem; margin-left:auto; margin-right:auto;">
    <img src="@Model.TopDeveloper.LogoLink" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.TopDeveloper.Name</h5>
        <p class="card-text">This is the current top rated developer with average score: @Model.TopDeveloper.GameRep</p>
        <a class="btn btn-primary" asp-controller="Developer" asp-action="Details"
           asp-route-id="@Model.TopDeveloper.Id" class="btn btn-primary">Games by @Model.TopDeveloper.Name</a>
    </div>
</div>
